<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Worki.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Worki.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>tcp:mavendano.database.windows.net,1433</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>SALESDB</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>Mavendano</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Mercetokio863</value>
            </setting>
            <setting name="Others" serializeAs="String">
                <value>MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
        </Worki.Properties.Settings>
    </applicationSettings>
</configuration>