<div class = "navigation col -lg-12">
<nav class = "navbar navbar-default">
<div class="container-fluid">

  <div class = " navbar-header">
  <a href="#" class="navbar-brand">{{title}}</a>
  <a href="#" class="navbar-brand">{{description}}</a>
</div>



<ul class="navbar navbar-nav">
  <li>
    <a href="#">
      <span class="glyphicon glyphicon-home">
      </span>
      Ingreso administrador
    </a>
  </li>
</ul>
</div>
</nav>
</div>

<!-- publicar componentes -->

<router-outlet></router-outlet>

