<body>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


 <!-- background -->
    <div class="bg_image" style="background-image: url('https://i.ibb.co/CzLkjCq/fondo.png');height: 100vh;">
        <div class="wrapper fadeInDown">
            <h3>{{title}}</h3>
            <div id="formContent">
              <!-- Tabs Titles -->



              <!-- Icon -->
              <div class="fadeIn first">
                <img src="https://i.ibb.co/kgGgdZ1/login-Logoregistro.png" id="icon" alt="User Icon" />
              </div>


              <!-- Login Form -->
              <form [formGroup] ="loginForm">
                <input type="text" id="login" class="fadeIn second"  placeholder="Usuario" formControlName = "usuario">
                <input type="password" id="password" class="fadeIn third"  placeholder="Contraseña" formControlName = "password">
                <input type="submit" class="fadeIn fourth" routerLink="/home" style="cursor: pointer" value="INGRESAR" >
              </form>

              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="#">Olvido su contraseña?</a>
              </div>

            </div>
          </div>

    </div>
</body>

